:root{
    --azul1 : #038bbb;
    --azul2 : #03223f;
    --azul3 : #010d23;

    --azulPastel1 : #438da8;
    --azulPastel2 : #1e4264;
    --azulPastel3 : #0a1936;

    --laranja1 : #fccb6f;
    --laranja2 : #e19f41;
    --laranja3 : #c5862d;
}