@import '../../styles/colors.css';

.container-nav{
    width: 100%;
    height: 50px;
    background-color: var(--azul3);
    display: flex;
}

.tab-nav{
    height: 100%;
    background-color: var(--azul3);
    border-bottom: 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
}

.tab-nav:hover{
    background-color: var(--azul2);
    transition: all 0.2s ease-in 0s;
}

.navlink{
    text-decoration: none;
    width: 100%;
}

.navlink h1:hover{
    color: var(--laranja1);
}

.navlink h1{
    color : white;
    font-weight: 400;
}
